* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
h1,h2,h3,h4,h5,h6{
  font-family: Montserrat;    
}

label{
  display: block;
}
 
body {
  background: #eee;
  font-family: Montserrat;
}

/* Navigation-Bar */
.navbar{
  position: fixed;
  width: 100%;
  background: #8f8f8f;
  backdrop-filter: blur(0.8);
  padding:0 2.5rem 0 2.5rem;
  z-index: 5;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-size: Montserrat;
  font-weight: 300;
}


/* Title */
.title-box h1{
  color: #fff;
}
.title-box p{
  font-weight: 500;
  color: #fff;
  font-size: 1.03rem;
  width: 70%;
  margin: auto;
}

.title-box{
  margin:7% auto;
  text-align: center;
  padding: 9% 18% 7%;
}
.center{
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 18px;
}

/* Headings */
.big-heading{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  margin: auto;
  padding: 7%;
  text-align: center;
}
.section-heading h3{
  color: #8f8f8f;
}

/* Sections */
.hero{
  background-image: url(bg-img-flip.jpg);
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Features */
#features{
  padding: 7% 15%;
  padding: 5%;
}
.feature-box{
  text-align: center;
}
.feature-title{
  font-weight: 800;
  font-size: 1.5rem;
}
.features{
  width: 55%;
  margin-left: 25%;
  color:#8f8f8f;
  font-family: 'Montserrat', sans-serif;
  
}

/* Flat-Icon */
.flaticon{
  color: #f5ba13;
  margin-bottom: 1rem;
}
.flaticon:hover{
  color: #ff4c68;
}

/* Title */

#title{
    
  text-align: left;
}
#title.container-fluid{
  padding: 3% 15% 7%;
}

@media (max-width:1215px){
  #title{
      text-align: center;
  }
}
  
  /* Note */
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  /* Form */
  #addExpense{
    padding: 7% 15%;
    padding: 5%;
  }
  .expense-form-div .big-heading{
    text-align: center;
  }
  .expense-form-div h3{
    text-align: center;
  }
  
  form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 25px;
    border-radius: 7px;
    line-height: 1.8;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }


/* Footer */
footer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  color: #8f8f8f;
}  